body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #ddd;
  color: white;
}

.phrase-section {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 2px 3px 5px #999;
  border-radius: 5px;
}

.phrase-section > img {
  height: 80px;
  margin: 15px;
  object-fit: contain;
}

.players {
  display: flex;
  flex-wrap: wrap;
}

.player {
  display: flex;
  width: 40px;
  height: 40px;
  margin: 5px;
  padding: 5px;
  float: left;
  border-radius: 5px;
  font-size: 28px;
  font-weight: bold;
  user-select: none;
}

.player > span {
  width: 100%;
  align-self: center;
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}
